<!DOCTYPE html>
<html>
<head>
  <title>File Upload Status</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .message {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }
    .upload-button {
      font-size: 18px;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none; /* Remove default underline style for links */
    }
    .login-button {
      font-size: 18px;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none; /* Remove default underline style for links */
      margin-top: 20px;
    }
    .img {
      width: 125px;
      height: 125px;
      image-align: center;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 33.3333%; 
      max-height: 33.3333vh; 
    }
  </style>
</head>
<body>
  <div class="message">
    <span class="checkmark">
    <%= image_tag('green-checkmark.png', class: 'img',  alt: 'Green Checkmark') %>
    </span> File uploaded successfully
  </div>
  <a href="/uploads/new" class="upload-button">Upload another file</a>
  <a href="https://phdappreview-2530b5efb143.herokuapp.com/" class="login-button">Login to PhD Application Review</a>
</body>
</html>
