<div>
  <%= stylesheet_link_tag "home" %>
  <div class="home-container">
    <span class="home-text">Handle the following Elements:</span>
    <ul class="home-ul list">
      <% @x.times do |i| %>
        <li class="list-item">
          <span>Text</span>
          <%= select_tag "options_#{i}[]", options_for_select(["Option 1", "Option 2", "Option 3"]) %>
        </li>
      <% end %>
    </ul>
    <ul class="home-ul1 list">
      <% @y.times do |j| %>
        <li class="list-item">
          <span>Text</span>
          <%= select_tag "options_#{j + @x}[]", options_for_select(["Option 1", "Option 2", "Option 3"]) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
