<div class="phdapp-login">
  <div class="card-login-container">
    <%= image_tag 'tamu_login_logo.png', class: 'logo', alt: 'TAMU LOGO' %>
      <p class="text">
        PhD Application Review System
      </p>
    <%= render 'admin'%>
  </div>
</div>

