.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.submit-responses{
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Remove default underline style for links */
  margin-top: 20px;  
}
.set-all-new-fields{
  top: 190px;
  right: 190px; /* Set to 20px from the right edge */
  position: absolute;
}

.reset-all-new-fields{
  top: 210px;
  right: 210px; /* Set to 20px from the right edge */
  position: absolute;
}
.not-used-all-old-fields{
  top: 190px;
  left: 170px; /* Set to 20px from the right edge */
  position: absolute;
}
.home-text {
  font-size: 35px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-sixunits);
  font-weight: 700;
  text-transform: capitalize;
}
.new-fields-list {
  top: 190px;
  width: 298px;
  right: 50px; /* Set to 20px from the right edge */
  position: absolute;
  margin-top: 50px;
}

.new-fields-text {
  top: 158px;
  font-size: 25px;
  right: 50px; /* Set to 20px from the right edge */
  position: absolute;
}

.old-fields-list {
  top: 170px;
  width: 298px;
  left: 50px; /* Set to 20px from the right edge */
  position: absolute;
  margin-top: 50px;
}

.old-fields-text {
  font-size: 25px;
  top: 158px;
  left: 50px;
  position: absolute;
}

.new-fields-select {
  height: var(--dl-size-size-small);
}
.old-fields-select {
  height: var(--dl-size-size-small);
}
.home-select2 {
  height: var(--dl-size-size-small);
}
.home-ul1 {
  top: 175px;
  left: 31px;
  width: 298px;
  position: absolute;
}
.home-select3 {
  height: var(--dl-size-size-small);
}
.home-select4 {
  height: var(--dl-size-size-small);
}
.home-select5 {
  height: var(--dl-size-size-small);
}
